.full-width, .container {
    width: 100%;
    position: relative;
}

.close {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
}

.list-item {
    padding-block: 0.5rem;
}

.dropdown {
    position: absolute;
    top: 56px;
    width: 100%;
    max-height: 20rem;
    overflow-y: scroll;
    z-index: 10;
    background-color: #e9e8ec;
}

.loading-spinner {
    pointer-events: none;

    .center {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 100%;
    }
}

.error {
    word-break: break-all;
}